body{
    font-family: 'Nunito';
    background-color:rgba(0,0,0,0.8);
    padding: 0;
    margin: 0;
}

h2{
    font-size: 18px;
    padding: 5px 10px;
    padding-right: 0;
    font-family: cursive;
    font-weight:bold;
    background:rgb(102, 102, 255);
    color:white;
    width:44%;
    margin-left:5%;
    -webkit-box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 8px 15px -1px rgba(0,0,0,1);
    box-shadow: 0px 6px 8px -1px rgba(0,0,0,1);
    text-shadow: 2px 1px 1px black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header_space {

    max-width: 600px;
    height:6x;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    z-index: 200;

}

#mario-chat{
    max-width: 600px;
    border-top: 1px solid white;
    box-shadow:inset 0px 8px 20px rgba(0,0,0,1);
    -webkit-box-shadow:inset 0px 0px 20px rgba(0,0,0,1);
    -moz-box-shadow:inset 0px 0px 20px rgba(0,0,0,1);
}

#pura {
     -webkit-box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 8px 15px -1px rgba(0,0,0,1);
    box-shadow: 0px 6px 8px -1px rgba(0,0,0,1);
}

@media screen and (min-width: 767px) {
   #mario-chat{
   max-width: 600px;
   margin: 80px auto;
   border: 1px solid #ddd;
   -webkit-box-shadow: 0px 8px 6px -1px rgba(0,0,0,0.4);
   -moz-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.4);
   box-shadow: 0px 8px 9px -1px rgba(0,0,0,0.5); border-radius:4px;
   background-color:darkred;
}
    body {
        background-image: url("qlPWf6B_d.jpg");
    }
    #chat-window{
    height: 330px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url("back.jpg");
    max-width: 600px;
    background-repeat: repeat;
}
}

#chat-window{
    height: 305px;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    background-image: url("landscape.jpg");
    max-width: 600px;
    background-size: cover;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#output {
    background-image:
    max-width: 600px;
    background-repeat: repeat;
}

#output p{
    padding: 7px 15px;
    margin: 10px 10px;
    color:cornsilk;
    word-wrap:break-word;
    line-height: 1.1;
    border-radius: 20px;
     background-color: rgba(255, 255, 255,0.07);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    -moz-box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    -webkit-box-shadow: 0px 1px 30px 0px rgba(0, 5, 0, 1);
    -moz-box-shadow: 0px 1px 30px 0px rgba(0, 5, 0, 1);
    box-shadow:  0px 1px 20px 0px rgba(0, 5, 0, 1);
}

#output p:nth-child(even){
    background-color: rgba(255, 255, 255,0.4);

}

#feedback p{
    padding: 6px 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    opacity:0.6;
    background-color: rgba(255, 255, 255,0.2);
    color:cornsilk;
    word-wrap:break-word;
    border-radius: 20px;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    -moz-box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    -webkit-box-shadow: 0px 1px 30px 0px rgba(0, 5, 0, 1);
    -moz-box-shadow: 0px 1px 30px 0px rgba(0, 5, 0, 1);
    box-shadow:  0px 1px 20px 0px rgba(0, 5, 0, 1);
}

#output strong{
    color:chartreuse;
    text-shadow: 2px 1px 1px black;
    padding: 1px 4px;
    margin: 10px 0;
    border-radius: 20px;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    -moz-box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    -webkit-box-shadow: 0px 1px 30px 0px rgba(0, 5, 0, 1);
    -moz-box-shadow: 0px 1px 30px 0px rgba(0, 5, 0, 1);
    box-shadow:  0px 1px 20px 0px rgba(0, 5, 0, 1);
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}
.but {
    background-color:rgba(0,0,0,0);
    padding: 10px 0;
}

#send {
    background: hsl(180, 100%, 10%);
    color: #fff;
    font-size: 18px;
    padding: 5px;
    width: 32%;
    border-radius: 50px;
    text-align:center;
    margin-left:12%;
    display:inline;
     -webkit-box-shadow: 0 8px 6px  black;
    -moz-box-shadow: 0 8px 6px  black;
    box-shadow: 0 8px 6px -6px black;
}

#handle {
    background-color:cadetblue;
    box-sizing: border-box;
    border: 2px;
    border-left: 0;
    border-right: 0;
    border-color:bisque;
    border-style:dashed;
    position: relative;
    margin: 0;
    padding: 0 20px;
}

#refresh {
    background: hsl(180, 100%, 10%);
    color:darkorange;
    font-size: 18px;
    padding: 5px;
    width: 30%;
    border-radius: 50px;
    text-align:center;
    display:inline;
    margin-left: 15%;
     -webkit-box-shadow: 0 8px 6px  black;
    -moz-box-shadow: 0 8px 6px  black;
    box-shadow: 0 8px 6px -6px black;
}

#send:hover {
    background-color:aliceblue;
    color:black;
    text-shadow: 1px 1px green;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    z-index: 2;
}

#refresh:hover {
    background-color:aliceblue;
    color:black;
    text-shadow: 1px 1px green;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    z-index: 2;
}

button:focus {
    outline: none;
}

#message {
    background-color:rgb(143, 188, 143);
    height:62px;
    color:black;
    box-sizing:border-box;
    border:3px inset;
    border-left: 1px inset;
    border-right: 1px inset;
    width: 100%;
    resize: none;
    padding: 10px 20px;
    font-family: Nunito;
    font-size: 17px;
    display: block;
    line-height: normal;
    border-color:rgba(0,0,0,0.777);
}

p{
    padding: 0;
    margin: 0;
}

#pura {
  display: none;
}

#firstpage{
  display: block;
  margin: 5%;
  margin-top: 15%;
  padding: 20px;
  background-color: skyblue;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 6px  black;
  -moz-box-shadow: 0 8px 6px  black;
  box-shadow: 0 10px 6px -6px black;
  box-sizing: border-box;
  border:5px groove;
}

#firstpage input {
  width: 85%;
  display: inline-block;
  margin-top: 5%;
  background-color: rgb(0, 51, 51);
  color: white;
  box-sizing:border-box;
  border: 2px inset rgb(255, 255, 255);
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 0 8px 6px  black;
 -moz-box-shadow: 0 8px 6px  black;
 box-shadow: 0 8px 6px -6px black;
}
#firstpage button {
  text-align: center;
  margin-top: 7%;
  margin-left: 0;
  padding: 10px;
  width: 30%;
  color: white;
  text-shadow: 0px 2px 1px black;
  background-color: rgba(0,0,0,0.7);
  border-radius: 50px;
  -webkit-box-shadow: 0 8px 6px  black;
 -moz-box-shadow: 0 8px 6px  black;
 box-shadow: 0 8px 6px -6px black;
}
  #firstpage button:hover {
  background-color:rgba(0,0,0,0.5);
  }

  #fheading {
    text-align: center;
  }
  #fheading h1{
    margin-top: 15%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 7px black;
    background-color: rgb(77, 0, 0);
    width: 60%;
    border-radius: 30px;
    padding: 5px;
    border:5px inset ;
    -webkit-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);

    display: inline-block;
  }
#firstpage input:focus {
  outline: none;
}
