body{
    font-family: 'Nunito';
    background-image: url("images.jpg");
    background-color: #cccccc;
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    font-family: cursive;
    font-weight:bold;
    background:rgb(102, 102, 255); color:white; width:44%; margin-left:5%; -webkit-box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.71);
    box-shadow: 0px 6px 8px -1px rgba(0,0,0,0.5);
}

.header_space {
    background-color: rgba(0,0,0,0);
    max-width: 600px;
    height:60px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    z-index: 200;
    
}

#mario-chat{
    max-width: 600px;
    margin: 6px auto;
    border: 1px solid #ddd;
    
    -webkit-box-shadow: 0px 8px 6px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.4);
    box-shadow: 0px 8px 9px -1px rgba(0,0,0,0.5); border-radius:4px;
    

    background-color:darkred;
}

#chat-window{
    height: 305px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url("backimg.jpg");
    max-width: 600px;
    background-repeat: repeat;
}

#output {
    background-image: url("backimg.jpg");
    max-width: 600px;
    background-repeat: repeat;
}

#output p{
    padding: 7px 15px;
    margin: 10px 10px;
    color:cornsilk;
    border-radius: 20px;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    -moz-box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    box-shadow: 0px 7px 10px 0px rgba(0, 5, 0, 0.2);
    -webkit-box-shadow: 0px 1px 30px 0px rgba(0, 5, 0, 1);
    -moz-box-shadow: 0px 1px 30px 0px rgba(0, 5, 0, 1);
    box-shadow:  0px 1px 20px 0px rgba(0, 5, 0, 1);
}

#output p:nth-child(even){
    background-color: rgba(255, 255, 255,0.2);
   
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color:chartreuse;
    text-shadow: 2px 1px 1px black;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 18px;
    border: 1;
    padding: 5px;
    width: 40%;
    border-radius: 50px;
    text-align:center;
    margin-left:30%;
    display:block;
}

#handle {
    background-color: darkorange;
    box-sizing: border-box;
    border: 2px;
    border-color:bisque;
    border-style:dashed;
}

button:hover {
    background-color:aliceblue;
    color:black;
    text-shadow: 1px 1px green;
    
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    z-index: 2;
}

button:focus {
    outline: none;
}
.but {
    background-color:darkblue;
    padding: 8px 0;
}

p{
    padding: 0;
    margin: 0;
}
